* {
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	text-align: left;
}
	
body {
	margin:0px;
	padding:0px;
	text-align:center;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 11pt;
	line-height: 1.25em;
	width: 290px;
	margin-left: auto;
	margin-right: auto;
	margin: 50px 10px 10px 50px;
	border: solid 1px;
	padding: 2px;
}


.usrFormEntry{
	padding: 5px 5px 5px 5px;
	background-color: #CCCCCC;
}


.usrFormLabel{
	display: block; 
	float: left; 
	width: 140px;
	padding: 5px 5px 5px 5px;
}

.usrFormValue{
	width: 120px;
	border:solid 1px #A9BED1;
}

.usrFormSubmit{
	text-align:center;
	margin: 10px 5px 5px 5px;
	width: 80px;
	border:solid 1px #A9BED1;
}



.error {
	color: red;
	border: solid red;
	padding: .4em;
	margin: 10px
}

.errorImg {
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

.errorMsg {
	display: block;
	margin: 5px;
	padding: .1em;
}