<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.genesez.eclipse"
            name="GeneSEZ">
      </category>
      <wizard
            category="org.genesez.eclipse"
            class="org.genesez.eclipse.wizards.NewProjectWizard"
            icon="icons/butterfly.gif"
            id="org.genesez.eclipse.newprojectwizard"
            name="GeneSEZ Project"
            project="true">
      </wizard>
   </extension>

</plugin>
