<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="de.genesez.core.platforms">
      <platform
            class="de.genesez.platforms.java.wizards.Java5Wizard"
            name="Java5Wizard">
      </platform>
   </extension>
   <extension
         point="de.genesez.core.platforms">
      <platform
            class="de.genesez.platforms.java.wizards.Java4Wizard"
            name="Java4Wizard">
      </platform>
   </extension>

</plugin>
