<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.genesez.tools"
            name="GeneSEZ">
      </category>
      <wizard
            category="de.genesez.tools"
            class="de.genesez.tools.wizards.NewProjectWizard"
            icon="icons/butterfly.gif"
            id="de.genesez.tools.newprojectwizard"
            name="GeneSEZ Project"
            project="true">
      </wizard>
   </extension>

</plugin>
