<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="GeneSEZ Dependencies 2012 e4.2 juno (mirror)" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.3.0.v201206120758"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.3.0.v201206110920"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.2.1.v201206110920"/>
<unit id="org.eclipse.uml2.source.feature.group" version="4.0.1.v20120913-1441"/>
<unit id="org.eclipse.uml2.feature.group" version="4.0.1.v20120913-1441"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="1.2.1.v201206110941"/>
<repository location="http://updatesite.genesez.org/mirror/"/>
</location>
</locations>
</target>
