<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="A common profile for use with the GeneSEZ generator framework."
            name="GeneSEZ Profile"
            path="pathmap://GENESEZ_PROFILES/genesez.profile.uml"
            provider="genesez.org">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://GENESEZ_PROFILES/"
            target="platform:/plugin/org.genesez.adapter.papyrus/profile/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="A java profile for use with the GeneSEZ generator framework."
            name="GeneSEZ Java Profile"
            path="pathmap://GENESEZ_PROFILES/java5.profile.uml"
            provider="genesez.org">
      </profile>
   </extension>

</plugin>
