<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="registerelements" name="Register Workflow Elements" schema="schema/registerelements.exsd"/>

	<extension
	      point="org.genesez.workflow.registerelements">
	   <workflowComponent
	         class="org.genesez.workflow.CompositeComponent">
	   </workflowComponent>
	   <workflowComponent
	         class="org.genesez.workflow.Copier">
	   </workflowComponent>
	   <workflowComponent
	         class="org.genesez.workflow.EmfReader">
	   </workflowComponent>
	   <workflowComponent
	         class="org.genesez.workflow.EmfWriter">
	   </workflowComponent>
	</extension>
</plugin>
