<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="MDPluginID"
	name="MagicDraw Plugin"
	version="1.0"
	provider-name="S. Wagner"
	class="GeneSEZIntegrationPackage.MDPlugin">

	<runtime>
		<library name="MDPlugin.jar"/>
 	</runtime>
	
	<requires>
	   <api version="1.0"/>
	   
	   <required-plugin id="com.nomagic.magicdraw.emfuml2xmi.v4"/>
	</requires>
</plugin>