<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
	<extension point = "org.eclipse.emf.ecore.generated_package">
	<package
		uri = "http://genesez.de/genesezMM"
		class = "genesezMM.GenesezMMPackage"
	/>
	</extension>
	
  <!--extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "/genesezMM/genesezMM" 
       class = "genesezMM.GenesezMMPackage"
       genModel = "src/de/genesez/metamodel/ecore/codegenmm.genmodel" /> 
  </extension-->

</plugin>

