<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
	<extension point = "org.eclipse.emf.ecore.generated_package">
		<package
        class="org.genesez.metamodel.gpresentation.GpresentationPackage"
        genModel="model/gpresentation.genmodel"
        uri="http://genesez.org/metamodel/presentation"/>
	</extension>
</plugin>

