<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="de.genesez.core.platforms">
      <platform
            class="de.genesez.platforms.php.wizards.PHP5Wizard"
            name="PHP5Wizard">
      </platform>
   </extension>
   <extension
         point="de.genesez.core.platforms">
      <platform
            class="de.genesez.platforms.php.wizards.PHP6Wizard"
            name="PHP6Wizard">
      </platform>
   </extension>

</plugin>
