<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="platforms" name="platforms" schema="schema/platform.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.genesez.core.newWizards"
            name="GeneSEZ">
      </category>
      <wizard
            category="de.genesez.core.newWizards"
            class="de.genesez.core.wizard.GeneratorProjectWizard"
            finalPerspective="org.openarchitectureware.base.oAWPerspective"
            icon="icons/genesez.gif"
            id="de.genesez.core.GeneratorProjectWizard"
            name="Generator Project"
            preferredPerspectives="org.openarchitectureware.base.oAWPerspective"
            project="true">
      </wizard>
      <wizard
            category="de.genesez.core.newWizards"
            class="de.genesez.core.wizard.PlatformProjectWizard"
            finalPerspective="org.openarchitectureware.base.oAWPerspective"
            icon="icons/genesez.gif"
            id="de.genesez.core.PlatformProjectWizard"
            name="Platform Project"
            preferredPerspectives="org.openarchitectureware.base.oAWPerspective"
            project="true">
      </wizard>
   </extension>

</plugin>
